*{
    padding: 0px;
    margin: 0px;
}

html{
    scroll-behavior: smooth;
}

/*header*/

h2{
    font-family:  sans-serif;
    font-size: 30px;
    font-weight: 100;
}

.head{
    padding: 20px 0px;
    top: 0;
}

.header{
    background-color: white;
    justify-content: space-between;
    height: 60px;
    width: 100vw;
    padding: 10px;
    position: fixed;
    top: 0;
}

.name{
    padding: 15px;
    color: rgb(8, 8, 26);
}

.ul{
    justify-content: space-evenly;
}

ul li{
    padding: 20px;
    list-style: none;
}

ul li a{
    color: rgb(15, 2, 29);
    font-size: 21px;
    cursor: pointer;
    text-decoration: none;
}


/*main*/

.half{
    height: 600px;
    width: 600px;
}

.text{
    font-size: 27px;
    font-weight: 500;
    text-align: center;
}

name{
    font-size: 50px;
    font-weight: 700;
    color: rgb(27, 11, 43);
}

photo{
    height: 400px;
    width: 400px;
    background-image: url('image/download.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 500px;
}

/*Education*/

#education, #skill, #contact{
    padding: 100px 10px 0px 10px;
    margin: 0px;
}

heading{
    margin: 30px;
    font-size: 40px;
    font-weight: 600;
    color: rgb(14, 14, 41);
}

.box{
    box-sizing: border-box;
    height: 250px;
    width: 300px;
    box-shadow: 1px 1px 10px;
    /* border: 1px solid black; */
    margin: 70px;
    padding: 30px;
    text-align: center;
}

institute{
    font-size: 20px;
}

marks{
    font-size: 20px;
}

p{
    padding: 10px;
}

/*skill*/

.box1{
    box-sizing: border-box;
    height: 180px;
    width: 300px;
    box-shadow: 1px 1px 10px;
    margin: 70px;
    padding: 30px;
    text-align: center;
}

/*contact*/

.contact_box{
    height: fit-content;
    width: max-content;
    /* box-shadow: 1px 1px 10px; */
    border: 0.2px solid gray; 
    margin: 70px;
    padding: 30px;
    text-align: center;
}

.contact_box input{
    font-size: 16px;
    border: none;
    height: 20px;
    width: 200px;
    padding: 10px;
    padding-bottom: 5px;
    margin: 15px;
    margin-bottom: 10px;
}

.btn{
    margin: 20px;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 20px;
    border: 0.2px solid rgb(187, 183, 183); 
    border-radius: 20px;
}
